:root {
    --firstColor: #0E2837;
    --secondColor: #1CC3B1;
    --lightGrey: #ede8e8;
    --darkGrey: #434446;
}

@font-face {
    font-family: "Eloquia";
    src: local("Eloquia"), url(../../../fonts/Eloquia/Eloquia-ExtraLight.otf) format("opentype");
}

@font-face {
    font-family: "Eloquia";
    src: local("Eloquia"), url(../../../fonts/Eloquia/Eloquia-ExtraBold.otf) format("opentype");
    font-weight: bold;
}

body {
    background-color: var(--lightGrey) !important;
}

.color-first {
    color: var(--firstColor) !important;
}

.color-second {
    color: var(--secondColor) !important;
}

.bg-first {
    background-color: var(--firstColor) !important;
}

.bg-second {
    background-color: var(--secondColor) !important;
}

.bg-lightGrey {
    background-color: var(--lightGrey) !important;
}

.bg-darkGrey {
    background-color: var(--darkGrey) !important;
}

.default-nav {
    background-color: rgba(14, 40, 55, 1);
}

.nav-link {
    color: #fff !important;
}

.gap {
    margin-top: 56px;
}


/* ANIMATION */

.fade-in-enter-active {
    position: relative;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

.fade-in-leave-active {
    animation: fadeIn ease 1s reverse;
}

.fade-in-right-enter-active {
    position: relative;
    animation: fadeInRight ease 1s;
    -webkit-animation: fadeInRight ease 1s;
    -moz-animation: fadeInRight ease 1s;
    -o-animation: fadeInRight ease 1s;
    -ms-animation: fadeInRight ease 1s;
}

.fade-in-right-leave-active {
    animation: fadeInRight ease 1s reverse;
}

.col-animation:nth-of-type(odd) {
    position: relative;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

.col-animation:nth-of-type(even) {
    position: relative;
    animation: fadeInRight ease 1s;
    -webkit-animation: fadeInRight ease 1s;
    -moz-animation: fadeInRight ease 1s;
    -o-animation: fadeInRight ease 1s;
    -ms-animation: fadeInRight ease 1s;
}

@keyframes fadeIn {
    from {
        left: -20px;
        opacity: 0;
    }
    to {
        left: 0px;
        opacity: 1
    }
}

@keyframes fadeInRight {
    from {
        left: 20px;
        opacity: 0;
    }
    to {
        left: 0px;
        opacity: 1
    }
}


/* FORM INPUT */

.user-field {
    position: relative;
}

.user-field input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: var(--lightGrey);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--lightGrey);
    outline: none;
    background: transparent;
}

.user-field label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: var(--lightGrey);
    pointer-events: none;
    transition: .5s;
}

.user-field input:focus~label,
.user-field input:valid~label {
    top: -20px;
    left: 0;
    color: var(--secondColor);
    font-size: 12px;
}